
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:solid;
    
}
.search{
    border:solid;
    border-radius: 5px;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
}
.address-container{
    border: solid;
    padding: 1rem;
    width: 80%;
    padding: 1rem;
    margin: 1rem;
}