@tailwind base;
@tailwind components;
@tailwind utilities;

.fc {
    width: 100%;
}

.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    margin-bottom: 4px;
}


:root {
    --background-color: #ffffff;
    --text-color: #334155;
    --navbar-bg-color: #ffffff;
    --navbar-text-color: #334155;
    --link-hover-color: #55bcd6;
    --active-link-color: #32cd32;
    --submenu-bg-color: #f7f8fa;
    --danger-color: #c90707;
    --safe-color:#03cb3f;
}

[data-theme="dark"] {
    --background-color: #226d3b;
    --text-color: #cbd5e0;
    --navbar-bg-color: #334155;
    
    --navbar-text-color: #55bcd6;
    --link-hover-color: #ffffff;
    --active-link-color: #32cd32;
    --test-color: #8232cd;
    --submenu-bg-color: #243c72;
    --danger-color: #f42e2e;
    --safe-color:#03cb3f;
}


.navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-text-color);
}

.navlink {
    color: var(--navbar-text-color);
    transition: color 0.3s ease;
    text-decoration: none;
}

.navlink:hover {
    color: var(--link-hover-color);
}

.navlink-active {
    color: var(--active-link-color) !important;
    font-weight: 800;
    border-bottom: 2px solid var(--active-link-color); /* Optional underline/border for active */
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
