@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-header-cell {
    background-color: #1d4ed8;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.ag-cell {
    font-size: 14px;
    display: flex; 
    align-items: center;
}

.ag-header-cell-label {
    justify-content: center; 

}

.ag-header-icon {
    display: none;
}

.ag-header-cell:hover {
    background-color: #1d4ed8 !important;
    color: white !important;
}
